.pictool-module-dashboard {
  height: 100%;
  width: 100%;
  position: relative;
  
  .pictool-dashboard-navlist {
    position: absolute;
    height: 80px;
    display: flex;
    background: #ffffff;
    width: 100%;
    bottom: 0;
  }
  .pictool-dashboard-nav-btn {
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
}